/**/
html, body {
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/*Die Navigations leiste ganz oben*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    background-color: #1A1C3D;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    height: 64px;
    font-family: 'Inter', sans-serif;
    position: relative;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.content {
    width: 100%;
    height: calc(100vh - 84px);
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

/*logout button */
#logoutButton {
    padding: 10px 25px;
    font-size: 16px;
    color: white;

    border: 1px solid #0b4fa3;
    border-radius: 8px;
    background: linear-gradient(to bottom, #1e6fd9, #0b4fa3);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);

    cursor: pointer;
    text-decoration: none;
}

/*login button*/
#loginButton {
    padding: 10px 25px;
    font-size: 16px;
    color: white;

    border: 1px solid #2F3158;
    border-radius: 8px;
    background-color: #242649;
    cursor: pointer;
    text-decoration: none;
}

/*register button*/
#registerButton {
    color: black;
    margin-right: 10px;
}

/*home button*/
#homeButton {
    z-index: 1000;
}

/* home button bild (SigmaSpin)*/
#homeButton img {
    width: 90px;
    height: 67px;
    cursor: pointer;
}