
/**/
body {
    background: #222;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

/*Die Navigations leiste ganz oben*/
nav {
    display: flex;
    justify-content: space-between; /* Verteilt Logo links/mitte und Buttons rechts */
    align-items: center;
    padding: 10px 24px;
    background-color: #1A1C3D; /* Dunkler Rainbet-Vibe */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 64px;
    font-family: 'Inter', sans-serif;
    
}
.content {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
   
}
/*login button */
#logoutButton{
  
    
    position: absolute;
    top: 20px;
    right: 20px;

    padding: 10px 25px;
    font-size: 16px;
    color: white;

    border: 1px solid #0b4fa3;
    border-radius: 8px;
    background: linear-gradient(to bottom, #1e6fd9, #0b4fa3);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);

    cursor: pointer;
    text-decoration: none;
    z-index: 3;

}
/*login button*/
#loginButton{
    position: absolute;
    top: 20px;
    right: 20px;

    padding: 10px 25px;
    font-size: 16px;
    color: white;

    border: 1px solid #2F3158;
    border-radius: 8px;
    background-color: #242649;
    cursor: pointer;
    text-decoration: none;   
    z-index: 3;
}
/*register button*/
#registerButton{
    color: black;
    margin-right: 10px;
}
/*home button*/
#homeButton{
    position:absolute;
    top: 8px;
    left: 40px;
    z-index: 1000
}
/* home button bild (SigmaSpin)*/
#homeButton img{
    width: 90px;
    height: 67px;
    cursor: pointer;
    top:auto;
}
