body {
    background: #222;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

/* Hab was gemach */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
}

nav a {
    color: #0f0;
    margin-right: 10px;
}

.content {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

