<!DOCTYPE html>
<html>
<head>
    <title>Casino</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav>
        <a href="/" id="homeButton"><img src="/static/images/logo/SigmaSpin.png"></a>
        {% if session.get("user_id") %}
        <a href="/logout" id="logoutButton">Logout</a>
        {% endif %}
    </nav>  

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div id="toast-container"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/utils.js"></script>
</body>
</html>