{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/blackjack.css">

<div class="bg"></div>

{% if session.get("user_id") %}
<span id="balance">Balance: {{ balance }}</span>
{% endif %}

<div id="gameArea">
    <div id="dealerHand"></div>
    <div id="dealerValue">-</div>

    <div id="playerHand"></div>
    <div id="playerValue">-</div>

    <div id="betContainer">
        <div id="inputContainer">
            <button id="inputHalf">1/2</button>
            <button id="inputDouble">2x</button>
            <button id="inputMax">Max</button>

            <span id="dollar">$</span>
            <input type="number" placeholder="100" id="bet" min="1" value="100"/>
        </div>
        
        {% if session.get("user_id") %}
        <button id="placeBetBtn">Place Bet</button>
        {% else %}
        <button id="loginToPlayBtn" onclick="openAuthModal('login')">Login to Play</button>
        {% endif %}
    </div>

    <div id="currentBetContainer">
        <p id="currentBet"></p>
    </div>

    <div id="buttons">
        <button id="hitBtn">Hit</button>
        <button id="standBtn">Stand</button>
        <button id="doubleBtn">Double</button>
    </div>
</div>
<div id="toast-container"></div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/api.js"></script>
<script src="/static/js/blackjack.js"></script>

{% endblock %}