{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/plinko.css">
<div id="gameArea">
    {% if session.get("user_id") %}
    <div id="balance">Balance:</div>
    {% endif %}
    
    <div id="btnContainer">
        <p>Bet Amount</p>
        <div id="inputContainer">
            <button id="inputHalf">1/2</button>
            <button id="inputDouble">2x</button>
            <button id="inputMax">Max</button>
            
            <span id="dollar">$</span>
            <input type="number" placeholder="100" id="bet" min="1" value="100"/>
        </div>
        <p>Risk Level</p>
            <div class="risk-track">
                <button class="risk-option active" data-risk="low">LOW</button>
                <button class="risk-option" data-risk="medium">MEDIUM</button>
                <button class="risk-option" data-risk="high">HIGH</button>
                <button class="risk-option rain" data-risk="rain">RAIN</button>
            </div>
        <p>‎</p>
        
        {% if session.get("user_id") %}
        <button id="dropBtn">Drop</button>
        {% else %}
        <button id="loginToPlayBtn" onclick="openAuthModal('login')">Login to Play</button>
        {% endif %}
    </div>
    <canvas id="plinko"></canvas>
</div>

<script src="/static/js/plinko.js"></script>
<script src="/static/js/api.js"></script>
{% endblock %}