{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/plinko.css">
<div id="gameArea">
    <div id="balance">Balance:</div>
    <div id="btnContainer">
        <p>Bet Amount</p>
        <div id="inputContainer">
            <button id="inputHalf">1/2</button>
            <button id="inputDouble">2x</button>
            <button id="inputMax">Max</button>
            
            <span id="dollar">$</span>
            <input type="number" placeholder="100" id="bet" min="1" value="100"/>
        </div>
        <p>Risk Level</p>
            <div class="risk-track">
                <!-- NO SLIDER DIV NEEDED -->
                <button class="risk-option active" data-risk="low">LOW</button>
                <button class="risk-option" data-risk="medium">MEDIUM</button>
                <button class="risk-option" data-risk="high">HIGH</button>
                <button class="risk-option rain" data-risk="rain">RAIN</button>
            </div>
        <p>‎</p>
        <button id="dropBtn">Drop</button>
    </div>
    <canvas id="plinko"></canvas>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/plinko.js"></script>
<script src="/static/js/utils.js"></script>
<script src="/static/js/api.js"></script>
{% endblock %}
